langchain-openai
langchain
python-dotenv
langchain-community
langchain_core
streamlit
langchain-groq
crewai
crewai[tools]
supabase
resend
fpdf2
feedparser
requests
beautifulsoup4
cryptography
fastapi
uvicorn[standard]
